@model HotelManagementSystem.Models.Booking

@{
    ViewData["Title"] = "Edit Booking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookingEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingId" />
            <input type="hidden" asp-for="@Model.RoomNo" />
            <input type="hidden" asp-for="@Model.UserId" />
            <input type="hidden" asp-for="@Model.BookingTime" />

            
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <select asp-for="BookingStatus" class="form-control">
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Canceled">Canceled</option>
                    <option value="Denied">Denied</option>
                </select>
                <span asp-validation-for="BookingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <select asp-for="PaymentStatus" class="form-control">
                    <option value="Pending">Pending</option>
                    <option value="Success">Success</option>
                    <option value="Canceled">Canceled</option>
                    <option value="Failed">Failed</option>
                </select>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationStart" class="control-label"></label>
                <input asp-for="DurationStart" class="form-control" />
                <span asp-validation-for="DurationStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationEnd" class="control-label"></label>
                <input asp-for="DurationEnd" class="form-control" />
                <span asp-validation-for="DurationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Bookings">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
